*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-size: 100%
}
body {  
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
body h1{
    color: #fff;
    margin: 0;
}
body p{
    color: #ffff;
    
}
.header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100px;
    width: 100%;

    background: #0073cd;
}
ul{
    list-style: none;
    margin: 0;
    font-size: 2.5rem;
    font-style: bolder;
    align-items: center;
    display: flex;
}
ul li{
    margin-right: 1.5vw;
    display: flex;
    align-items: center;
}
ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.25rem;
    color: #fff
}
#btn-conta{
    width: 11rem;
    height: 2.5rem;
    background: #ffc800;
    border: none;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    color: black;
}
#btn-conta:hover{
    background: #f7bb54;
    transition: 300ms;

}
#btn-conta-tw {
    color: black;
}
#btn-conta-tw:hover{
    background: #f7bb54;
    transition: 300ms;
}
#logo{
    padding: 0px 15px 0px 15px;
}
.text-wrapper{
    max-width: 27%;
    max-height: 320px;
    margin-left: 95px;
    padding: 40px 15px 0px 15px
}
.text-wrapper h1{
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.75rem;
}
.text-wrapper p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.16rem;
    line-height: 1.5;
}
.container{
    padding: 20px 0px 30px 0px;
    background: #0073cd;
    display: flex;
    
    justify-content: center;
 }
.container img{
    width: 26vw;
    height: auto;
}
.container a{
    width: 11.6rem;
    height: 2.5rem;
    background: #ffc800;
    border: none;
    border-radius: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    margin: 20px 20px 0px 0px;
    padding: 10px 20px 10px 20px;
}
.container-video {
    padding: 20px 0px 30px 0px;
    display: flex;
    
    justify-content: center;
}
.produto {
    color: #fff!important;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    height: 22rem;
    width: 22rem;
    display: block;
    text-align: center;
}
.wrapper-produtos {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 0px 30px 0px;
    display: flex;
    justify-content: center;
}
.text-produto {
    margin-top: 45px;
    font-weight: 600;
}
.bg-azul {
    background-color: #003b87!important;
}
.bg-azul-meio {
    background-color: #0073cd!important;
}
.bg-azul-ultimo {
    background-color: #006969!important;
}